src/main/app/cluster-contacts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:avalara="http://www.mulesoft.org/schema/mule/avalara" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/3.2/mule-data-mapper.xsd 
http://www.mulesoft.org/schema/mule/avalara http://www.mulesoft.org/schema/mule/avalara/2.0/mule-avalara.xsd 
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/4.0/mule-sfdc.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<sfdc:config name="Salesforce" username="albin.kjellin@gmail.com"
		password="1Mule4you" securityToken="L1eZIAOCizi9wXlE8TL11xKt"
		doc:name="Salesforce" />
	<avalara:config name="Avalara" doc:name="Avalara" />
	<smtp:gmail-connector name="Gmail"
		validateConnections="true" doc:name="Gmail" />
	<data-mapper:config name="CreateSalesForceContact"
		transformationGraphPath="createsalesforcecontact.grf" doc:name="CreateSalesForceContact" />
	<flow name="cluster-contactsFlow1" doc:name="cluster-contactsFlow1">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8881" path="trigger" doc:name="HTTP" />
		<sfdc:query config-ref="Salesforce"
			query="Select id, name, firstname, lastname,MailingStreet, MailingCity,MailingState, MailingCountry,MailingPostalCode  from contact"
			doc:name="Salesforce" />
		<foreach batchSize="5" doc:name="Foreach">
			<vm:outbound-endpoint exchange-pattern="one-way"
				path="batch" doc:name="VM" />
		</foreach>
	</flow>
	<flow name="cluster-contactsFlow2" doc:name="cluster-contactsFlow2">
		<vm:inbound-endpoint exchange-pattern="one-way"
			path="batch" doc:name="VM" />
		<foreach doc:name="Foreach">
			
			<message-properties-transformer
				doc:name="Message Properties" scope="invocation">
				<add-message-property key="sfid" value="#[groovy:payload.Id]" />
			</message-properties-transformer>
			
			<avalara:validate-address config-ref="Avalara"
				account="1100068440" avalaraClient="doesnotmatter"
				city="#[groovy:payload['MailingCity']]" country="#[groovy:payload['MailingCountry']]"
				license="0FB02FADB01DE0E5" line1="#[groovy:payload['MailingStreet']]"
				postalCode="#[groovy:payload['MailingPostalCode']]" taxRegionId="1"
				date="#[groovy:new Date()]" doc:name="Avalara" />
			<choice doc:name="Choice">
				<when expression="payload.resultCode.value =='Success'"
					evaluator="groovy">
					<processor-chain>
					<logger message="For Each Payload = #[payload:]" level="ERROR" />
						<logger message="sfid = #[groovy:message.getInvocationProperty('sfid').getClass()]" level="ERROR" />
						<data-mapper:transform config-ref="CreateSalesForceContact"
							doc:name="Data-mapper">
							<data-mapper:input-arguments>
								<data-mapper:input-argument key="sfid">#[variable:sfid]
								</data-mapper:input-argument>
							</data-mapper:input-arguments>
						</data-mapper:transform>
						<logger message="AFTER MAPPING: #[payload:]" level="INFO"
							doc:name="Logger" />
						<sfdc:update config-ref="Salesforce" type="Contact"
							doc:name="Salesforce">
							<sfdc:objects ref="#[payload]" />
						</sfdc:update>
						<object-to-string-transformer
							doc:name="Object to String" />
						<logger message="#[payload:]" level="INFO" doc:name="Logger" />
					</processor-chain>
				</when>
				<otherwise>
					<processor-chain>
						<object-to-string-transformer
							doc:name="Object to String" />
					</processor-chain>
				</otherwise>
			</choice>
		</foreach>
	</flow>
</mule>
